.container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  border-radius: .25rem;
  color: white;
  padding: 1.5rem 1.75rem;
  margin-top: auto;
}

.sender {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.75rem;
  line-height: normal;
  margin-bottom: .5rem;
  display: inline-flex;
  align-items: center;

  img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
}

.message {
  font-weight: 400;
  font-size: 2rem;
  display: inline-block;

  i {
    width: 2rem;
    height: 2rem;
    margin: auto 4px;
    display: inline-block;
    vertical-align: sub;
    background-size: contain;
    background-position: center;
  }
}
